<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668491052883-bado9o78taokatev6prrqk6a9h8c6d9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668491052883-bado9o78taokatev6prrqk6a9h8c6d9r</string>
	<key>API_KEY</key>
	<string>AIzaSyBH1607_qAL4_Et4KjeHDk1HrYt4eTmFSU</string>
	<key>GCM_SENDER_ID</key>
	<string>668491052883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.sharedBillsManager</string>
	<key>PROJECT_ID</key>
	<string>shared-bills-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>shared-bills-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668491052883:ios:cbc399c858c401777193a6</string>
</dict>
</plist>